@page "/add-room"

@inject Services.RoomControllerProxy roomControllerService
<h1>Add a new room in your house</h1>

<EditForm Model="@request" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    Room name <InputText id="name" @bind-Value="request.RoomName" />

    <button type="submit" disabled="@submitDisabled">Add</button>
</EditForm>

@code {
    private bool submitDisabled = false;
    private AddRoomRequest request = new AddRoomRequest();

    private async Task HandleValidSubmit()
    {
        submitDisabled = true;
        await roomControllerService.AddRoom(request);
        submitDisabled = false;
    }
}
